<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="content">
    <form action="#" th:action="@{/admins/create}" th:object="${admin}" method="post">
        <table>
            <tr>
                <td><p>Name: </p></td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>

            <tr>
                <td><p>Surname: </p></td>
                <td><input type="text" th:field="*{surname}"></td>
            </tr>

            <tr>
                <td><p>Birth Date: </p></td>
                <td><input type="number" th:field="*{birthDate}"></td>
            </tr>

            <tr>
                <td><p>TCKN: </p></td>
                <td><input th:type="number" th:field="*{tckn}"></td>
            </tr>

            <tr>
                <td><p>Email: </p></td>
                <td><input th:type="text" th:field="*{email}"></td>
            </tr>

            <tr>
                <td><p>Password: </p></td>
                <td><input th:type="password" th:field="*{password}"></td>
            </tr>

            <tr>
                <td><p>LKD NO: </p></td>
                <td><input th:type="number" th:field="*{lkdNo}"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>